/* GLOBAL RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.feature_container {
  margin: auto;
  height: 100%;
  width: 75%;
  box-shadow: 10px 10px 5px grey;
  padding: 10px;
}

.feature_h2 {
  padding: 15px 5px 15px 50px;
  color: white;
}

.feature_p {
  padding: 30px;
}

.feature_i {
  color: white;
}
